{% extends "base.html" %}
{% block title %}{{Tr(Lang, "name")}} - {{Tr(Lang, "tag_line")}}{% endblock %}
{% block body %}
	<div class="ui inverted vertical masthead center aligned segment">
	  {% include Page.NavbarTplPath %}

	  <div class="ui text container">
	    <img src="/img/favicon.ico" >
	    <h1 class="ui inverted header">
	      纬度创造
	    </h1>
	    <h2>技术文档</h2>
	    <a class="ui huge primary button" href="{{Page.DocsBaseURL}}">{{Tr(Lang, "home.get_started")}} <i class="right arrow icon"></i></a>
	  </div>
	</div>

	<div class="ui vertical stripe segment">
	  <div class="ui aligned centered stackable grid container">
	    <h1 class="ui icon header">
	      <i class="thumbs up icon"></i>
	      <div class="content">
	        {{Tr(Lang, "home.awesomeness")}}
	      </div>
	    </h1>
	  </div>
	</div>

	{% include Page.FooterTplPath %}
{% endblock %}